p {
  color: yellow;
  font-size: 1em;
}

a {
  font-size: 1em;
  color: yellow;
}
.description {
  width: 600px;
}

body {
  background-color: #63afbf;
}

h1 {
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 5em;
}
h2 {
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 2em;
}

.left {
  width: 600px;
  float: left;
 
}
